<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Admin</title>

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/home.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
	<script src="../js/ie-emulation-modes-warning.js"></script>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin">SQUAD Admin</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="logout">Logout</a></li>
					</ul>	
				</div>
			</div>
		</div>

</head>

<body>
<div class="container">
	<div class="col-md-6">
		{% if comparisonmessage is defined %}
		<div class="alert alert-success" role="alert">{{comparisonmessage}}</div>
		{% endif %}
		<form method="POST" enctype="multipart/form-data">
			<div class="fileinput fileinput-new" data-provides="fileinput">
			  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px;"></div>
			  <div>
			    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image 1</span><span class="fileinput-exists">Change</span><input type="file" name="pic1"></span>
			    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
			  </div>
			</div>
			<div class="fileinput fileinput-new" data-provides="fileinput">
			  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px;"></div>
			  <div>
			    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image 2</span><span class="fileinput-exists">Change</span><input type="file" name="pic2"></span>
			    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
			  </div>
			</div>
			<br>
			<button type="submit" class="btn btn-default" name="submitimages">Submit</button>
		</form>
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Image 1</td>
					<td>Image 2</td>
					<td>Winning Image</td>
					<td>% of Vote</td>
				</tr>
			</thead>
			<tbody>
				= for comparison in comparisons
				<tr>
					<td><img src="{{comparison.pic1|e}}" style="width: 50px; height: 50px;"></td>
					<td><img src="{{comparison.pic2|e}}" style="width: 50px; height: 50px;"></td>
					<td>{{comparison.winningimage|e}}</td>
					<td>{{comparison.votingpercentage|e}}%</td>
				</tr>
				= endfor
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		{% if message is defined %}
		<div class="alert alert-success" role="alert">{{message}}</div>
		{% endif %}
		<h3>Add a new username</h3>
		<form method="POST">
		<div class="input-group">
			<input type="text" name="username" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" name="addname">Add</button>
			</span>
		</div>
		</form>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>