<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Admin Login</title>

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/login.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
	<script src="../static/js/ie-emulation-modes-warning.js"></script>

</head>

<body>
	<div class="container">
		<form method="post" class="form-signin" role="form">
			<h2 class="form-signin-heading">Admin: Please sign in</h2>
			<input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
			<input  type="password" class="form-control" placeholder="Password" name="password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<a class="btn btn-lg btn-block" href="/admin/register">Register</a>
		</form>
	</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>