= extends "layout.html"

= block body
<div class="container">
    <form action="{{ amazon_host }}" method="POST">
		<div class="row">
            <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
            <br/>
            <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
            <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
            <input type="hidden" id="raterPercentage" value="{{ rater_percentage }}" name="raterPercentage"/>

            <p>Congratulations, you've finished the hit with {{ rater_percentage }}% accuracy. Click "Submit" to mark the hit as finished.</p>
        	<input class="btn btn-lg btn-primary btn-block" type="submit"/>
		</div>
    </form>
</div>
= endblock