<!DOCTYPE html>
<html>
<head>
	<title>Groupthink</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	= if rw is defined and rw == "correct"
	<div class="badger correct">Correct!</div>
	= endif
	= if rw is defined and rw == "wrong"
	<div class="badger wrong">Nope</div>
	= endif
	= if rw is defined and rw == "back"
	<div class="badger wrong">Don't press back!</div>
	= endif
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Which post do you think got most likes?</h2>
			</div>
		</div>
		<div class="row images">
			<form method='post' id="post1form">
				<input type=hidden id="posttype1" name="posttype" value="{{posttype}}">
				<input type=hidden name="compid" value="{{compid}}">
				<input type=hidden name="postid" value="{{post1id}}">
				<div class="col-xs-5">
					<input type='image' src="{{post1image}}" class="image" id="left" value="{{post1id}}">
				</div>
			</form>

			<div class="col-xs-2 versus">
				<span class="text">vs.</span>
				<div id="timer"></div>
			</div>
			<form method='post' id="post2form">
				<input type=hidden name="posttype" value="{{posttype}}">
				<input type=hidden name="compid" value="{{compid}}">
				<input type=hidden name="postid" value="{{post2id}}">
				<div class="col-xs-5">
					<input type='image' src="{{post2image}}" class="image" id="right" value="{{post2id}}">
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>
