= extends "layout.html"
= set active_page = "home"
= set title = "Home"

= block head
<style type="text/css">
  #header{border:3px solid gray;padding:10px;}
  #header-left-container{border:1px solid gray;float:left;width:30%;}
  #header-right-container{border:1px solid gray;float:right;width:69%;}
</style>
= endblock


= block body
<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12 titlebox">
      = if rw is defined and rw == "correct"
        <div class="alert alert-success" role="alert">Congratulations! That was correct!</div>
      = endif
      = if rw is defined and rw == "wrong"
        <div class="alert alert-danger" role="alert">Oh no! That was wrong!</div>
      = endif
      = if rw is defined and rw == "neither"
        <div class="alert alert-info" role="alert">Thanks for taking a test post!</div>
      = endif
      = if rw is defined and rw == "nomore"
        <div class="alert alert-info" role="alert">No more comparisons!</div>
      = endif
      = if rw != "nomore"
        <div>
				<h3>Which post do you think got more likes?</h3>
        <div id="piediv">
        </div>
        </div>
      = endif
			</div>
		</div>
    <form method='post'>
		<div class="row" style="margin-bottom: 40px;">
      = if posttype is defined and compid is defined
      <input type=hidden name="posttype" value="{{posttype}}">
      <input type=hidden name="compid" value="{{compid}}">
      <input id="secondsused" type=hidden name="secondsused" value="0">
      = endif
			<div class="col-lg-6 col-sm-6 col-md-6">
        = if post1image is defined
				<div class="pic">
          <input class="img-responsive" name='post1' type="image" value="1" src="{{post1image}}" alt="First Image">
				</div>
        = endif
			</div>
			<div class="col-lg-6 col-sm-6 col-md-6">
        = if post2image is defined
				<div class="pic">    
          <input class="img-responsive" name='post2' type="image" value="1" src="{{post2image}}" alt="Second Image">
				</div>
        = endif
			</div>
		</div>
    </form>
</div>
= endblock

= block footer
= if rw != "nomore"
<script src="static/js/jquery.pietimer.js"></script>
<script type="text/javascript">
  $('#piediv').pietimer({
    seconds: 10,
    color: 'rgba(0, 0, 0, 0.8)',
    height: 40,
    width: 40
},
function(){
    console.log($('#piediv').pietimer("get_seconds"));
    window.location.reload(true); 
});
window.onload = function(){
  $('#piediv').pietimer("start"); 
  var counter = 0;
  var interval = setInterval(function() {
      counter++;
      $('#secondsused').val(counter.toString())
  }, 1000);
}
</script>
= endif
= endblock
