<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squad Friends & Family</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/TimeCircles.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" href="static/img/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body class="index">
<header>
    <h2>Welcome to Squad!</h2>
</header>
    <div class="content">
        <p>If you have new challenges available, feel free to play them now.</p>
    </div>
    = if more_queues:
    <form action="/q">
        <button value="" name="" type="submit" class="btn lets-play-btn" id="">Let's Play!</button>
    </form>
    = else
    <form action="/q">
        <button value="" name="" disabled type="submit" class="btn lets-play-btn" id="">No More Queues</button>
    </form>
    = endif
    <br>
    <button type="button" class="btn lets-play-btn" data-toggle="modal" data-target="#myModal">
          Leaderboard
      </button>
    <div class="content">
        <form method="post" class="form-refer" role="form">
            <br>
            = if message is defined and message != ""
            = if message == "There was an error with your referral"
            <div class="alert alert-danger" role="alert">{{message}}</div>
            = else
            <div class="alert alert-success" role="alert">{{message}}</div>
            = endif
            = endif
            <p>Invite friends to prove who is really better at Instagram.</p>
            <p>You'll both receive 10 points if they sign up.</p>
            <input name="name" type="text" class="form-control" placeholder="Name" size="15" required>
            <br>
            <input name="phone_number" type="tel" class="form-control" placeholder="Phone Number" maxlength="15" size="15" width="15" pattern="(?\d{3})?-?\d{3}-?\d{4}" required>
            <button class="btn lets-play-btn" name="refer" type="submit">Refer</button>
        </form>
    <form action="mailto:sweyn@groupthink.is">
        <button value="" name="" type="submit" class="btn lets-play-btn" id="">Feedback</button>
    </form>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Leaderboard</h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="tab" href="#overall">Overall</a></li>
                <li><a data-toggle="tab" href="#weekly">Weekly</a></li>
            </ul>
            <div class="tab-content">
                <div id="overall" class="tab-pane fade in active">
                  <div class="table-responsive">
                    <table class="table table-striped" data-search="true" data-page-size="25" data-side-pagination="client" data-pagination="true">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Reward</th>
                        </tr>
                        = for user in overall_leaderboard_users
                        = if user.current_user == "you"
                        <tr class="info">
                            <td>{{user.rank}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.score}}</td>
                            <td><span class="label label-pill label-success">{{user.reward}}</span></td>
                        </tr>
                        = elif user.current_user == "break"
                        <tr>
                            <td>⋮</td>
                            <td></td>
                            <td></td>
                        </tr>
                        = else
                        <tr>
                            <td>{{user.rank}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.score}}</td>
                            <td><span class="label label-pill label-success">{{user.reward}}</span></td>
                        </tr>
                        = endif
                        = endfor
                    </table>
                </div>
            </div>
            <div id="weekly" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-striped" data-search="true" data-page-size="25" data-side-pagination="client" data-pagination="true">
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Reward</th>
                    </tr>
                    = for user in weekly_leaderboard_users
                    = if user.current_user == "you"
                    <tr class="info">
                        <td>{{user.rank}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.weekly_score}}</td>
                        <td><span class="label label-pill label-success">{{user.reward}}</span></td>
                    </tr>
                    = elif user.current_user == "break"
                    <tr>
                        <td>⋮</td>
                        <td></td>
                        <td></td>
                    </tr>
                    = else
                    <tr>
                        <td>{{user.rank}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.weekly_score}}</td>
                        <td><span class="label label-pill label-success">{{user.reward}}</span></td>
                    </tr>
                    = endif
                    = endfor
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div>
    </div>
<script src="static/js/TimeCircles.js"></script>
<script src="static/js/jquery.mobile-events.min.js"></script>
</body>
</html>