<!DOCTYPE html>

<html>
<head>
	<title>Groupthink</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>  

<body>

<div class="homepage">
	<form method="POST">
	<p>
		<b>You will be comparing sets of two posts from Instagram and answering which recieved more likes.</b> There are 220 sets of comparisons in this HIT. You will have most 10 seconds to complete each comparison. The whole HIT will take at most 15 minutes.
		<br><br>
		If you have the highest score from all those that answer this hit, you'll receive a bonus of $2. <b>Complete this task only once!</b> All submissions after the first will be rejected.	<b>If you have an issue with the HIT, message us so we can correct it</b></p>
	
	<ul>
		<li><b>Please do not:</b></li>
		<li>Do outside research</li>
		<li>Use your browsers back button</li>
		<li>Refresh the page</li>
		<li>Attempt to cheat in any way</li>
		<li>Stop the HIT once you have started</li>
	</ul>
	<p>
		If you break any of the rules above, your HIT will not be accepted. You must complete the HIT without stopping once you have started.
	</p>
	<button value="start" name="start" type="submit" class="btn-big">Let's get started</a>
	</form>
</div>

</body>
</html>

