<!DOCTYPE html>

<html>
<head>
	<title>Groupthink</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>  

<body>

<div class="homepage">
	<form method="POST">
        <h3>PLEASE READ THESE INSTRUCTIONS</h3>

        <section class="intro">
            <h4>During this HIT, you’ll be presented with pairs of Instagram posts.</h4>
            <h4>Your challenge is to guess which ones received more “likes”.</h4>
            <h4>You indicate which of the posts you think got more likes by clicking on it or hitting the LEFT or RIGHT arrow.</h4>

            <p>You’ll be asked to review ~45 pairs. A timer will help make sure you don’t spend more than 10 seconds per pair. Most people find that each comparison takes a few seconds, so the entire HIT shouldn’t take more than a minute or two.</p>
            <p>If you have any issues with this HIT (or just want to give us feedback) please message us!</p>
        </section>

        <section class="rules">
            <h4>Some key rules – PLEASE DO:</h4>
            <ul>
                <li>DISABLE ALL TURK-RELATED SCRIPTS. They can interfere with our interface.</li>
                <li>Make sure that Javascript is enabled.</li>
                <li>Disable any ad blocking software</li>
                <li>Allow cookies</li>
            </ul>
        </section>

        <section class="rules">
            <h4>Some key rules – PLEASE DO NOT:</h4>
            <ul>
                <li>Do outside research</li>
                <li>Use your browser’s back button</li>
                <li>Refresh the page</li>
                <li>Stop the HIT once you have started</li>
                <li>Let the time expire too many times</li>
            </ul>
        </section>

        <section class="outro">
            <p>If you don’t follow these “rules”, your HIT might malfunction or be rejected.</p>
            <p>Also, you need to finish the HIT all in one go for it to be accepted.</p>
            <p>IF YOU DO WELL (IE, GUESS CORRECTLY OVER 60% OF THE TIME), WE’LL INVITE YOU BACK TO DO LOTS MORE HITS THAT PAY EVEN BETTER.</p>
        </section>

        <button value="start" name="start" type="submit" class="btn-big">Let's get started</button>
	</form>
</div>

</body>
</html>

