= extends "layout.html"
= set active_page = "leaderboard"
= set title = "Leaderboard"

= block body
<div class="container">
	<div id="row">
		<div class="col-lg-6 col-sm-6 col-md-6">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a href="#overall" data-toggle="tab">Overall</a></li>
				<li><a href="#daily" data-toggle="tab">Daily</a></li>
				<li><a href="#weekly" data-toggle="tab">Weekly</a></li>
				<li><a href="#yearly" data-toggle="tab">Yearly</a></li>
				<li><a href="#bycity" data-toggle="tab">By City</a></li>
			</ul>
			<div id="boards" class="tab-content">
				<div class="tab-pane active" id="overall">
					= set counter = 1
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>User</th>
								<th>Percentage</th>
							</tr>
						</thead>
						<tbody>
						= for username, percentage in leaders
							<tr>
								<th>{{counter}}</th>
								<th>{{username}}</th>
								<th>{{percentage}}%</th>
							</tr>
						= set counter = counter + 1
						= endfor
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="daily">
					<h1>TODO</h1>
				</div>
				<div class="tab-pane" id="weekly">
					<h1>TODO</h1>
				</div>
				<div class="tab-pane" id="yearly">
					<h1>TODO</h1>
				</div>
				<div class="tab-pane" id="bycity">
					<h1>TODO</h1>
				</div>
			</div>
		</div>
	</div>
</div>
= endblock