<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/login.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        = if message is defined
        <div class="alert alert-danger" role="alert">{{message}}</div>
        = endif
        <form method="post" class="form-signin" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
            <input  type="password" class="form-control" placeholder="Password" name="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <input type=hidden value="{{ next or '' }}" name=next>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>
</html>