= extends "layout.html"
= set active_page = "stats"
= set title = "Stats"

= block body
<div class="jumbotron">
	<div class="container">
		<div class='row'>
			<div class="col-lg-12 col-sm-12 col-md-12">
				<h2>Here are your stats</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-5 col-md-5 box">
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">{{right}}</span>
						Right
						<br>
						<span class="badge">{{wrong}}</span>
						Wrong
						<br>
						<span class="badge">{{percentage}}%</span>
						Percentage
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
= endblock
